<table style="width:95vw; height:95vh;border:1px solid black;">
  <tr style="height:10vh; ">
    <td colspan="3" style="border-bottom:1px solid black;">
      <h1> Logo & Title of Application</h1>
    </td>
  </tr>
  <tr>
    <td style="width:10vw; border-right:1px solid black;">
      <app-menu></app-menu>
    </td>
    <td>
      <router-outlet></router-outlet>
    </td>
    <td style="width:10vw; border-left:1px solid black;">
      <div>Right Component</div>
    </td>
  </tr>
  <tr style="height:10vh;; border:1px solid black;">
    <td colspan="3" style="border-top:1px solid black;">
      <h3> Footer of application</h3>
    </td>
  </tr>
</table>