<app-single-ton-test></app-single-ton-test>
<button (click)="updateServiceDateString()">update service DateString from appcomponent</button>
<button (click)="ReadServiceDateString()">Read Service Date String</button>

<table>
  <tr>
    <td>
      <app-menu (menuClickEvent)="handleMenuClick($event);"></app-menu>
    </td>
  </tr>
  <tr>
    <td>
      <div *ngIf="selectedComponent=='Employees'">
        <app-employees #empComponent [caption]="empCaption"></app-employees>
        <!-- <button (click)="onSubmit(); empComponent.submit();">Submit</button> -->
        <button (click)="onSubmit()">Submit</button>
      </div>

      <div *ngIf="selectedComponent=='Students'">
        <app-students [caption]="'Student Details'"></app-students>
      </div>

      <div *ngIf="selectedComponent=='Students' || selectedComponent=='Employees'">
          <!-- <app-stu-emp [caption]="captionP" [no]="noP" [name]="nameP" [age]="ageP"></app-stu-emp> -->
          <!-- <app-stu-emp [stuEmpUIModel]="stuEmpUI"></app-stu-emp> -->
        </div>
    </td>
  </tr>
</table>
<app-parent></app-parent>
