<table>
  <tr>
    <td>
      <!-- <app-menu></app-menu> -->
      <table>
        <tr>
          <td>
            <button (click)="handleEmployees(event)">Employees</button>
          </td>
          <td>
            <button (click)="handleStudents(event)">Students</button>
          </td>
      
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
<div *ngIf="selectedComponent=='Employees'"><employees></employees></div>

<div *ngIf="selectedComponent=='Students'"><app-students></app-students></div></td>
  </tr>
</table>